__pycache__/
*.pyc
*.pyo
*.sqlite3
.env
venv/
db.sqlite3
*.log
*.pot
*.pyc
.tox/
.coverage
.mypy_cache/
.nox/
.hypothesis/
.pytest_cache/
.coverage/
proyecto_django/conexiones/migrations/0003_remove_medida_descripcion_remove_medida_plazo_and_more.py
respaldo_db/medidas_202501312240.sql
respaldo_db/organismos_202501312239.sql
administrativo/entrega_01/TF_backend_corte_1.mp4

proyecto_django/conexiones/migrations/0001_initial.py

# Logs del proyecto Django
/proyecto_django/logs/*.log

